.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-top: 9px;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }

  &__link {
    @extend %contacts-link;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
