.contacts {
  display: flex;
  align-items: center;
  margin-right: 0;
  padding-left: 0;
  gap: 30px;
  &__item {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__link {
    @extend %contacts-link;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #757575;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
