body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--title-text-color);
  margin: 0;

  &.modal-open {
    overflow: hidden;
  }
  &.is-open {
    overflow: hidden;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:hover {
  cursor: pointer;
}

.features__title,
.projects__title {
  visibility: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
