:root {
  /* colors */

  --main-text-color: #212121;
  --scdry-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-part-hdr-color: #000000;
  --logo-part-ftr-color: #ffffff;
  --footer-bg-color: #2f303a;
  --icon-uactive-color: #afb1b8;
  --main-sctn-bg: #f5f4fa;
}
