.features {
  padding-top: 94px;
  padding-bottom: 94px;

  &__subtitle {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    align-items: baseline;
    gap: 30px;
  }

  &__item {
    width: 270px;
  }

  &__illustr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__descr {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--descr-text-color);
  }
}
