.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__container {
    display: flex;
  }

  &__addr-block {
    margin-right: 70px;
    min-width: 231px;
  }
  &__logo-part {
    color: var(--primary-white-color);
  }
}
