.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      column-gap: 165px;
    }
    @media screen and (min-width: 1200px) {
      flex-flow: row;
      justify-content: space-between;
      gap: 70px;
    }
  }

  &__addr-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }
  &__logo-part {
    color: var(--primary-white-color);
  }
}
