.header {
  position: relative;
  height: 80px;
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 88px;
      height: 100%;
    }

    @media screen and (min-width: 1200px) {
      gap: 93px;
    }
  }

  &__logo {
    display: block;
  }

  &__logo-part {
    color: #000000;
  }
  &__menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;

    & .icon-cross {
      display: none;
    }
    &.is-open .icon-cross {
      display: block;
    }
    &.is-open .icon-menu {
      display: none;
    }

    @media screen and(min-width:768px) {
      display: none;
    }
  }
}

/* .header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__navbar {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 93px;
    height: 100%;
  }

  &__logo-part {
    color: #000000;
  }
} */
