.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;

  &__title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-left: 0;
    margin-top: 50px;
  }
}
